.todo.list {
  position: fixed;
  margin-left: -12%;
  bottom: 5%;
}

.todo.todoItem {
  margin-bottom: 5% !important;
}

.todo.container {
  min-width: 320px;
  min-height: 320px;
  max-width: 320px;
  max-height: 320px;
}

.todo#todoHeader span{
  text-align: center;
}

.todo#add {
  margin-top: 5% !important;
}

.todo.buttons {
  margin-bottom: 5%;
}

.todo.text{
  margin-top: 5%;
}

.btn:focus,.btn:active {
  outline: none !important;
}

.resizable {
  width:100%;
}

@media (min-width:1024px) {
/* (768 * 12) / 9 */
  .resizable {
   width:50%;
   float:left;
  }
}
@media (min-width:1280px) {
/* (960 * 12) / 9 */
  .resizable {
   width:33.33%;
   float:left;
  }
}
