.todo.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.todo.btn-primary.raised:active, .btn-primary.raised.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px !important;
  margin-top: 3px !important;
}

.todo.list {
  float: left;
  margin-left: 20%;
  margin-bottom: 5%;
}

.todo.textfield {
  max-width: 100%;
}

.todo.container{
  width: 300px !important;
}
