.todo.list {
  position: fixed;
  margin-left: -12%;
  bottom: 5%;
}

.todo.todoItem {
  margin-bottom: 5% !important;
}

.todo.container {
  min-width: 320px;
  min-height: 320px;
  max-width: 320px;
  max-height: 320px;
}

.todo#todoHeader span{
  text-align: center;
}

.todo#add {
  margin-top: 5% !important;
}

.todo.buttons {
  margin-bottom: 5%;
}

.todo.text{
  margin-top: 5%;
}

.btn:focus,.btn:active {
  outline: none !important;
}
