html, body {
  background: #F5FCFF;
  height: 100%;
}

#node, .app {
  height: 100%;
}

.app {
  /*display: flex;*/
}

.bootstrap-border {
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}

#todoApp {
  background-color:white;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#todoApp #todoHeader {
  height: 40px;
  background-color: grey;
}

/* Navbar */

@media (min-width: 768px)
{
    .navbar-header
    {
        float: none;
    }

    .navbar-toggle
    {
        display: block;
    }

    .navbar-collapse.collapse
    {
        display: none !important;
    }
}

/* Login */

.login-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Todo */

.todo.category {
  position: absolute;
  margin-left: 20%;
  clear: both;
  bottom: 5%;
}

.todo.list {
  /*Nothing here*/
}

.todo.todoItem {
  margin-bottom: 5% !important;
}

.todo.container {
  min-width: 320px;
  min-height: 380px;
  max-width: 320px;
  max-height: 380px;
}

.todo#todoHeader span{
  text-align: center;
}

.todo#add {
  margin-top: 5% !important;
}

.todo.listgroup {
  position: absolute;
  width: 300px;
}

.todo.buttons {
  margin-bottom: 5%;
}

.todo.text{
  margin-top: 5%;
}

.btn:focus,.btn:active {
  outline: none !important;
}

.resizable {
  width:100%;
}

@media (min-width:1024px) {
/* (768 * 12) / 9 */
  .resizable {
   width:50%;
   float:left;
  }
}
@media (min-width:1280px) {
/* (960 * 12) / 9 */
  .resizable {
   width:33.33%;
   float:left;
  }
}


/*Sidebar */

.sidebar-wrapper {
  z-index: 1000;
  right: 10px;
  left: 100%;
  height: 100vh;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper0 {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.side-content {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper0 .overlay {
  z-index: 500;
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  visibility: visible;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav {
    position: relative;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
